:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --accent: #252c4e;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --radius: 12px;
    --marginFull: 16px;
    --marginHalf: 10px;

    --margin: var(--marginFull);
    --minBottomSpacing: 0px;

    @media (max-width: 500px) {
        --margin: var(--marginHalf);
        --minBottomSpacing: calc(72px + max(12px, env(safe-area-inset-bottom, 0px)));
    }
    @media (prefers-color-scheme: light) {
        color: #213547;
        background-color: #ffffff;
    }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--accent);
}
#app {
  width: 100%;
  max-width: 100vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

._popup {
	background: var(--popup);
	border-radius: var(--radius);
	contain: content;
}

._acrylic {
	background: var(--acrylicPanel);
	-webkit-backdrop-filter: var(--blur, blur(15px));
	backdrop-filter: var(--blur, blur(15px));
}

._formLinksGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 12px;
}

._formLinks {
	> *:not(:last-child) {
		margin-bottom: 8px;
	}
}

._beta {
	margin-left: 0.7em;
	font-size: 65%;
	padding: 2px 3px;
	color: var(--accent);
	border: solid 1px var(--accent);
	border-radius: 4px;
	vertical-align: top;
}

._table {
	> ._row {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 16px;

			@media (max-width: 500px) {
				margin-bottom: 8px;
			}
		}

		> ._cell {
			flex: 1;

			> ._label {
				font-size: 80%;
				opacity: 0.7;

				> ._icon {
					margin-right: 4px;
					display: none;
				}
			}
		}
	}
}

._fullinfo {
	padding: 64px 32px;
	text-align: center;

	> img {
		vertical-align: bottom;
		height: 128px;
		margin-bottom: 16px;
		border-radius: 16px;
	}
}

._link {
	color: var(--link);
}

._caption {
	font-size: 0.8em;
	opacity: 0.7;
}

._monospace {
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace !important;
}

._code {
	@extend ._monospace;
	background: #2d2d2d;
	color: #ccc;
	font-size: 14px;
	line-height: 1.5;
	padding: 5px;
}

.prism-editor__textarea:focus {
	outline: none;
}

._zoom {
	transition-duration: 0.5s, 0.5s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0,.5,.5,1);
}

._transition_zoom-enter-active, ._transition_zoom-leave-active {
	transition: opacity 0.5s, transform 0.5s !important;
}
._transition_zoom-enter-from, ._transition_zoom-leave-to {
	opacity: 0;
	transform: scale(0.9);
}

@keyframes blink {
	0% { opacity: 1; transform: scale(1); }
	30% { opacity: 1; transform: scale(1); }
	90% { opacity: 0; transform: scale(0.5); }
}

@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

._anime_bounce {
	will-change: transform;
  animation: bounce ease 0.7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
._anime_bounce_ready {
	will-change: transform;
	transform:  scaleX(0.90) scaleY(0.90) ;
}
._anime_bounce_standBy {
	transition: transform 0.1s ease;
}

@keyframes bounce {
  0% {
    transform:  scaleX(0.90) scaleY(0.90) ;
  }
  19% {
    transform:  scaleX(1.10) scaleY(1.10) ;
  }
  48% {
    transform:  scaleX(0.95) scaleY(0.95) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
